/**********
* Home page rules
**********/

.media-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;
}

.media-list .item {
    flex-basis: 24%;
    margin: 4px;

    background: #1f1f1f;

    padding-bottom: 25px;
}

.media-list .item .video {
    width: 100%;
}

.media-list .item .video iframe {
    width: 100%;
}

.media-list .item .title {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 20px;
    text-align: center;
}
.media-list .item .title:after {
    content: "";
    display: block;
    width: 20px;

    border-bottom: 1px solid var(--color-red);
    margin: 10px auto 0 auto;
}

.media-list .item:hover {
    text-decoration: none;
}

.media-list .item .summary {
    color: #fff;
    padding: 8px 20px;

}

@media screen and (max-width: 768px) {
    .media-list .item {
        flex-basis: 100%;
    }
}
.media-detail {
    display:block;
    padding: 1%;
}
.media-detail .title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.media-detail .separateur{
    width: 10%;
    height: 1px;
    background: #f72035;
    margin-right: auto;
    margin-left: auto;
}
.media-video{
    text-align: center;
}
.media-detail .synopsis-title{
    font-weight: 600;
}
.media-detail .synopsis-p{
    padding: 1%;
    background-color: #80808029;
}
.media-detail .date{
    display: inline-block;
    background-color: #f72035;
    padding: 0.2%;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.season {
    margin-top: 20px;
    background-color: #f72035;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 100%;
}

.itemEpisode {
    padding: 20px;
}

.episodeNumber {
    color: white;
    font-size: 45px;
    font-weight: bolder;
}

.durationTime {
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.infosEpisode {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.summary{
    color: white;
}

.episode-title{
    font-weight: 600;
    font-size: 30px;
}

.media-year{
    color: white;
    text-align: center;
    font-weight: 600;
}
.filtreBar {
    background-color: #403b3bab;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

.filtreBar nav {
    width: 100%;
    margin: 0 auto;
    background-color: #403b3bab;
    position: sticky;
    top: 0px;
}

.filtreBar nav ul {
    list-style-type: none;
}

.filtreBar nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

.filtreBar nav ul::after {
    content: "";
    display: table;
    clear: both;
}

.filtreBar nav a {
    background-color: #403b3bab;
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.filtreBar nav a:hover {
    color: white;
    border-bottom: 2px solid ;
}

.filtreBar .sous {
    display: none;
    box-shadow: 0px 1px 2px rgb(121, 4, 4);
    background-color: #403b3bab;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.filtreBar nav>ul li:hover .sous {
    display: block;
}

.filtreBar .sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.filtreBar .sous a {
    padding: 10px;
    border-bottom: none;
}

.filtreBar .sous a:hover {
    border-bottom: none;
    background-color: #403b3bab;
}

.filtreBar .deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}

.genreButton {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    width: 100%;
}

.genreButton:hover {
    background-color: #f72035;
}
div .media-type{
        background-color: #f72035;
    }
.media-type{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size:16px
}

.profilBody {
    margin-bottom: 50px;
}

.divBouton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 20%;
    min-width: 100px;
}

.buttonText {
    color: white;
    text-align: center;
}

.centerContent {
    display: block;
    justify-content: center;
    align-items: center;
}
.smBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smMessage {
    color: white;
}

.smDiv {
    width: 70%;
    height: 50px;
    background-color: rgb(47, 180, 47);
    border-radius: 10px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}


