/**********
* Home page rules
**********/

.media-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;
}

.media-list .item {
    flex-basis: 24%;
    margin: 4px;

    background: #1f1f1f;

    padding-bottom: 25px;
}

.media-list .item .video {
    width: 100%;
}

.media-list .item .video iframe {
    width: 100%;
}

.media-list .item .title {
    color: #fff;
    font-weight: bold;

    padding: 8px 20px;
    text-align: center;
}
.media-list .item .title:after {
    content: "";
    display: block;
    width: 20px;

    border-bottom: 1px solid var(--color-red);
    margin: 10px auto 0 auto;
}

.media-list .item:hover {
    text-decoration: none;
}

.media-list .item .summary {
    color: #fff;
    padding: 8px 20px;

}

@media screen and (max-width: 768px) {
    .media-list .item {
        flex-basis: 100%;
    }
}
.media-detail {
    display:block;
    padding: 1%;
}
.media-detail .title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.media-detail .separateur{
    width: 10%;
    height: 1px;
    background: #f72035;
    margin-right: auto;
    margin-left: auto;
}
.media-video{
    text-align: center;
}
.media-detail .synopsis-title{
    font-weight: 600;
}
.media-detail .synopsis-p{
    padding: 1%;
    background-color: #80808029;
}
.media-detail .date{
    display: inline-block;
    background-color: #f72035;
    padding: 0.2%;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.season {
    margin-top: 20px;
    background-color: #f72035;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 100%;
}

.itemEpisode {
    padding: 20px;
}

.episodeNumber {
    color: white;
    font-size: 45px;
    font-weight: bolder;
}

.durationTime {
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.infosEpisode {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}



