#parse("dashboard.html")
#@mainLayout()

<div class="row">
    <div class="col-md-4 offset-md-8">
        <form action="/medias/" method="get">
            <div class="form-group has-btn">
                <input type="search" id="search" name="title" class="form-control"
                       placeholder="Rechercher un film ou une série">

                <button type="submit" class="btn btn-block bg-red">Valider</button>
            </div>
        </form>
    </div>
</div>

<div class="filtreBar">
    <nav>
        <ul>
            <li class="deroulant">
                <form>
                    <div>
                        <div class="genreButton">Genre</div>
                    </div>
                </form>
                <ul class="sous">
                    #foreach($g in $genre.getAllGenres())
                    <form action="/medias/" method="get">
                        <div>
                            <button type="submit" name="$g.getName()" class="genreButton">$g.getName()</button>
                        </div>
                    </form>
                    #end
                </ul>
            </li>
            <li class="deroulant">
                <form action="/medias/" method="get">
                    <div>
                        <button type="submit" name="films" class="genreButton">Films</button>
                    </div>
                </form>
                <ul class="sous">
                    #foreach($g in $genre.getAllGenres())
                    <form action="/medias/" method="get">
                        <div>
                            <button type="submit" name="films-$g.getName()" class="genreButton">$g.getName()</button>
                        </div>
                    </form>
                    #end
                </ul>
            </li>
            <li class="deroulant">
                <form action="/medias/" method="get">
                    <div>
                        <button type="submit" name="series" class="genreButton">Séries</button>
                    </div>
                </form>
                <ul class="sous">
                    #foreach($g in $genre.getAllGenres())
                    <form action="/medias/" method="get">
                        <div>
                            <button type="submit" name="series-$g.getName()" class="genreButton">$g.getName()</button>
                        </div>
                    </form>
                    #end
                </ul>
            </li>
            <li class="deroulant">
                <form action="/medias/" method="get">
                    <div>
                        <button type="submit" name="media" class="genreButton">Effacer les filtre</button>
                    </div>
                </form>
                <ul class="sous">
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div class="media-list">
    #foreach($media in $medias)
        <a class="item" href="/medias/$media.getId()">
            <div class="video">
                <div>
                    <iframe allowfullscreen="" frameborder="0"
                            src="$media.getTrailerUrl()" ></iframe>
                </div>
            </div>
            <div class="media-type">
                $media.getType()
            </div>
            <div class="title">
                $media.getTitle()
            </div>
            <div class="media-year">
                $media.getReleaseYear()
            </div>
            <div class="media-year">
                #if($media.isTimeNotNull())
                $media.getStringTime()
                #else $media.getAllEpisodesDurationHours()
                #end
            </div>
        </a>
    #end
</div>
#end
