#parse("dashboard.html")
#@mainLayout()

<div class="media-detail">
    <h1 class="title">
        $media.getTitle()
    </h1>
    <HR class="separateur">
    <div class="media-video">
        <iframe allowfullscreen="" frameborder="0"
                src="$media.getTrailerUrl()" ></iframe>
    </div>
    <div>
        <div>
            <p class="date">$media.getType() sorti en $media.getReleaseYear()</p>
            <p>Genre : $media.getGenre()</p>
        </div>
        <h4 class="synopsis-title">Synopsis :</h4>
    </div>
    <div>
        <div>
            <p class="synopsis-p">$media.getSummary()</p>
        </div>
    </div>
    <div>
        #foreach($season in $media.getEpisodes())

        <h2 class="case season">
            Saison $season[0].getSeason()
        </h2>

        <div class="media-list fullWidth">
            #foreach($episode in $season)
            <a class="item" href="/medias/$episode.getId()">
                <div class="video">
                    <div>
                        <iframe
                                allowfullscreen="" frameborder="0" src="$episode.getTrailerUrl()">
                        </iframe>
                    </div>
                </div>
                <div class="title">
                    $episode.getTitle()
                </div>
                <div class="infosEpisode">
                    <div class="durationTime">
                        $episode.getTimeMinute() mn
                    </div>
                    <div class="episodeNumber">
                        $episode.getEpisodeNumber()
                    </div>
                </div>
            </a>
            #end
        </div>

        #end
    </div>
</div>


#end
