#parse("dashboard.html")
#@mainLayout()

<div class="media-detail">
    <h1 class="title">
        $media.getTitle()
    </h1>
    <HR class="separateur">
    <div class="media-video">
        <iframe allowfullscreen="" frameborder="0"
                src="$media.getTrailerUrl()" ></iframe>
    </div>
    <div>
        <div>
            <p class="date">$media.getType() sorti en $media.getReleaseYear()</p>
            <p>Genre : $media.getGenre()</p>
        </div>
        <h4 class="synopsis-title">Synopsis :</h4>
    </div>
    <div>
        <div>
            <p class="synopsis-p">$media.getSummary()</p>
        </div>
    </div>
</div>


#end
